.c_profile-information-frame10,
.c_profile-information-frame11 {
  width: 100%;
  overflow: hidden;
  max-width: 1440px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.c_profile-information-frame10 {
  display: flex;
  position: relative;
  align-items: center;
}

.c_profile-information-frame11 {
  align-items: flex-start;
}

.c_profile-information-group1,
.c_profile-information-instance1 {
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  flex-direction: column;
}

.c_profile-information-instance1 {
  max-width: 1239px;
  align-items: flex-start;
  justify-content: flex-start;
}

.c_profile-information-rectangle1 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1258.9560546875px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.1),0 4px 4px 0 rgba(0,0,0,.25);
  border-radius: 10px 20px 10px 10px;
}

.c_profile-information-rectangle2 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 27px;
}

.c_profile-information-text10 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text11 {
  color: #1c2b38;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-instance2 {
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text12 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text13 {
  color: #1c2b38;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame12 {
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
  max-width: 690px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: flex-start;
  background-color: #f4f4f5;
}

.c_profile-information-text14 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text15 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-instance3 {
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text16 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text17 {
  color: #1c2b38;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame13 {
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
  max-width: 690px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: flex-start;
  background-color: #f4f4f5;
}

.c_profile-information-text18 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text19 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-instance4 {
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text20 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text21 {
  color: #1c2b38;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame14 {
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
  max-width: 690px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: flex-start;
  background-color: #f4f4f5;
}

.c_profile-information-text22 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text23 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame15 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 14px 80px;
  position: relative;
  max-width: 280px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #4caf4f;
}

.c_profile-information-text24 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_profile-information-text25 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text26 {
  width: 100%;
  max-width: 358px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text27 {
  color: #1c2b38;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Manrope",sans-serif;
  font-weight: 800;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-instance5 {
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text28 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text29 {
  color: #1c2b38;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame16 {
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
  max-width: 690px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: flex-start;
  background-color: #f4f4f5;
}

.c_profile-information-text30 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text31 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-instance6 {
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text32 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text33 {
  color: #1c2b38;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame17 {
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
  max-width: 690px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: flex-start;
  background-color: #f4f4f5;
}

.c_profile-information-text34 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text35 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-instance7 {
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text36 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text37 {
  color: #1c2b38;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame18 {
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
  max-width: 690px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: flex-start;
  background-color: #f4f4f5;
}

.c_profile-information-text38 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text39 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text40 {
  width: 100%;
  max-width: 100.41856384277344px;
  margin-top: 0;
  min-height: 21.6991024017334px;
  text-align: center;
  margin-bottom: 0;
}

.c_profile-information-text41 {
  color: #1c2b38;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-group2 {
  width: 100%;
  max-width: 135px;
  box-sizing: border-box;
  flex-direction: column;
}

.c_profile-information-ellipse1 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 195.3955078125px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,.2);
  border-radius: 100%;
}

.c_profile-information-group3 {
  width: 100%;
  max-width: 41px;
  box-sizing: border-box;
  flex-direction: column;
}

.c_profile-information-ellipse2 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 44.619140625px;
  border-radius: 100%;
}

.c_profile-information-frame19 {
  width: 100%;
  overflow: hidden;
  max-width: 20px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-vector1 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 339.6181640625px;
}

.c_profile-information-text42 {
  width: 100%;
  max-width: 161.34666442871094px;
  margin-top: 0;
  min-height: 21.6991024017334px;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text43 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text44 {
  width: 100%;
  max-width: 69.9544906616211px;
  margin-top: 0;
  min-height: 21.6991024017334px;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text45 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame20,
.c_profile-information-frame21 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_profile-information-frame20 {
  gap: 10px;
  max-width: 177px;
  border-radius: 10px 10px 10px 10px;
}

.c_profile-information-frame21 {
  gap: 5px;
  max-width: 51px;
}

.c_profile-information-vector2 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 11px;
}

.c_profile-information-text46 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text47 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-rectangle3 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1px;
}

.c_profile-information-frame22 {
  gap: 5px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 85px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_profile-information-frame23 {
  width: 100%;
  overflow: hidden;
  max-width: 18px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-text48 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text49 {
  color: #495560;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Mulish",sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-line {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 2.9951171875px;
  transform: rotate(89.87deg);
  max-height: 859.0023193359375px;
}

.c_profile-information-group4 {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  flex-direction: column;
}

.c_profile-information-rectangle4 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1440px;
}

.c_profile-information-text50 {
  width: 100%;
  max-width: 84px;
  margin-top: 0;
  min-height: 22px;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text51 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Jua",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame24 {
  gap: 48px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 473px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.c_profile-information-text52 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text53 {
  color: #333;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Anek Bangla",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text54 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text55 {
  color: #333;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Anek Bangla",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text56 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text57 {
  color: #333;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Anek Bangla",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text58 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text59 {
  color: #333;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Anek Bangla",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-text60 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text61 {
  color: #333;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Anek Bangla",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-group5,
.c_profile-information-group6 {
  width: 100%;
  max-width: 60px;
  box-sizing: border-box;
}

.c_profile-information-ellipse3,
.c_profile-information-rectangle5 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 60px;
}

.c_profile-information-ellipse3 {
  max-width: 44px;
  border-radius: 100%;
}

.c_profile-information-frame25 {
  width: 100%;
  overflow: hidden;
  max-width: 24px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-frame26,
.c_profile-information-frame27 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.c_profile-information-frame26 {
  padding: 20px 72px 18px;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000;
}

.c_profile-information-frame27 {
  gap: 149px;
  max-width: 1296px;
  align-items: flex-start;
  justify-content: space-between;
}

.c_profile-information-frame28,
.c_profile-information-frame29 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.c_profile-information-frame28 {
  gap: 20px;
  max-width: 546px;
  justify-content: flex-start;
}

.c_profile-information-frame29 {
  padding: 4px 10px;
  max-width: 65px;
  justify-content: center;
}

.c_profile-information-text62 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text63 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame30 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 67px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text64 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text65 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame31 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 63px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text66 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text67 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame32 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 91px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text68 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text69 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame33 {
  width: 100%;
  display: flex;
  padding: 4px 10px;
  position: relative;
  max-width: 51px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text70 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text71 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame34 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 109px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text72 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text73 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame35 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1296px;
  max-height: 40px;
}

.c_profile-information-frame36,
.c_profile-information-frame37 {
  gap: 389px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1296px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_profile-information-frame37 {
  gap: 12px;
  max-width: 96px;
}

.c_profile-information-frame38 {
  align-items: flex-start;
  border-radius: 100px 100px 100px 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.c_profile-information-frame38,
.c_profile-information-frame39,
.c_profile-information-frame40 {
  width: 100%;
  max-width: 24px;
  box-sizing: border-box;
}

.c_profile-information-frame40 {
  align-items: flex-start;
  border-radius: 100px 100px 100px 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.c_profile-information-text74 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text75 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Teachers",sans-serif;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame41,
.c_profile-information-frame42 {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_profile-information-frame41 {
  gap: 117px;
  padding: 20px 177px 20px 72px;
  position: absolute;
  max-width: 1440px;
  flex-direction: column;
  background-color: #000;
}

.c_profile-information-frame42 {
  gap: 8px;
  display: flex;
  position: relative;
  max-width: 157px;
}

.c_profile-information-rectangle6 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 36px;
  border-radius: 8px 8px 8px 8px;
}

.c_profile-information-text76 {
  width: 100%;
  max-width: 107px;
  margin-top: 0;
  min-height: 22px;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text77 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Jua",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame43,
.c_profile-information-frame44 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.c_profile-information-frame43 {
  gap: 20px;
  max-width: 555px;
  justify-content: flex-start;
}

.c_profile-information-frame44 {
  padding: 4px 10px;
  max-width: 65px;
  justify-content: center;
}

.c_profile-information-text78 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text79 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame45 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 67px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text80 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text81 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame46 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 72px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text82 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text83 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame47 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 91px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text84 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text85 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame48 {
  width: 100%;
  display: flex;
  padding: 4px 10px;
  position: relative;
  max-width: 51px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text86 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text87 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame49 {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: 109px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_profile-information-text88 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_profile-information-text89 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_profile-information-frame50 {
  width: 100%;
  overflow: hidden;
  max-width: 24px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_profile-information-vector3 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 44px;
}